.container {
  background-color: #f3fafe;
  min-height: 100vh;
  display: flex;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  font-size: 0.875rem;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }
} 