.container {
  background-color: #f8fcff;
  min-height: 100vh;
  display: flex;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  font-size: 0.875rem;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }
  
  .container > *:first-child {
    display: none; /* Hides the DemoCard, which is the first child */
  }
} 